.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
  justify-content: space-around;
}

.form_item {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 30%;
}

h1 {
  justify-content: center;
  display: flex;
  margin: 0;
}

.button {
  bottom: 0;
}
